
@model ResetPassViewModel
@{
    ViewData["Title"] = "Resetpassword";
}
@{
    Layout = "_Layout";
}
<div class="modal fade"
     id="newPasswordPopup"
     tabindex="-1"
     aria-labelledby="newPasswordPopupLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="newPasswordPopupLabel">
                    Create New Password
                </h3>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="newPasswordForm" asp-action="Resetpassword">
                    <div class="mb-3">
                        <label asp-for="newpassword" class="form-label fw-bold">New Password</label>
                        <input asp-for="newpassword"
                               class="form-control"
                               id="new_password"
                               aria-describedby="newPasswordHelp"
                               placeholder="Enter your new password"
                               required />
                        <span asp-validation-for="newpassword" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="confirmnewpassword" class="form-label fw-bold">Confirm Password</label>
                        <input asp-for="confirmnewpassword"
                               class="form-control"
                               id="confirm_password"
                               aria-describedby="confirmPasswordHelp"
                               placeholder="Confirm your new password"
                               required />
                        <span asp-validation-for="confirmnewpassword" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn main-btn ms-0 mb-3">
                        Set New Password
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

